<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" href="#">GRR</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/restaurantes" routerLink="/restaurantes">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Pratos</a>
        </li>
      </ul>
      <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="https://github.com/GustavoAdolfo/cadastros_com_angular" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="nav-item nav-link" href="https://twitter.com/Gu57av0Ad01f0" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="nav-item nav-link" href="https://www.linkedin.com/in/gustavoadolfoas/" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
